/* invoice.css */

.img-small {
    max-width: 300px; /* Adjust the max-width as needed */
    height: auto;
    position: relative;
    display: inline-block;
}

/* Tooltip styles for description */
.img-small:hover::after {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    background-color: clear(0, 0, 0, 0.8);
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    bottom: 125%; /* Adjust the distance from the image */
    left: 50%;
    transform: translateX(-50%);
    white-space: normal; /* Allow multiline descriptions */
}
