/* invoice.css */

.img-small {
    max-width: 300px; /* Adjust the max-width as needed */
    height: auto;
    position: relative;
    display: inline-block;
}

/* Tooltip styles for description */
.img-small:hover::after {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    background-color: clear(0, 0, 0, 0.8);
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    bottom: 125%; /* Adjust the distance from the image */
    left: 50%;
    transform: translateX(-50%);
    white-space: normal; /* Allow multiline descriptions */
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -100px; /* Center the tooltip above the text */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}