/* General */
body {
  width: 800px;
  margin: 0 auto;
}

/* Typography */
h1, h2 {
  text-align: center;
}

/* Block Styling */
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: url("images/phone_globe.jpg") no-repeat 50% center;
  color: black;
}

/* Styling the products display */
.item img {
  width: 200px;
  height:200px;
}

/* Div children of body */
body > div {
  border: 5px solid black;
  display: flex;
}
.rotate img
{
animation: rotation 0.3s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}

.item {
  text-align: center;
}
.item img {
  display: block;
  margin: 0 auto;
}
.item input {
  display: block;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 20px 40px; /* Adjust the padding for button size */
  background-color: #7EB9D8; /* Light blue background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  margin-left: 350px;

}