/*products_display.css*/
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
    background-image: url(./images/bballcourt.jpeg);
    background-size: cover;
    background-position: center;
  }

  /*text box quantity*/
  .main input[type="text"]{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: black
  }

  .footer {
    text-align: center;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    background-color: azure;
    padding: 20px 0;
  }
  /*Purchase Button*/
  input[type="submit"]{
    font-size: 40px; 
    display: inline-block;
    padding: 20px 40px;
    background-color: skyblue;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Show a pointer cursor on hover */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  /*background image*/

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: white;
    padding: 25px;
  }

  h3 {
    font-family: 'Lato', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 70px; /* Change the font size as needed */
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
    font-style: oblique;
  }

.item img {
    width: 430px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* This property ensures the image fits within the specified dimensions and maintains its aspect ratio */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
    gap: 20px; /* Adjust the gap between grid items as needed */
  }

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
    gap: 10px; /* Adjust the gap between grid items as needed */
    padding: 0;
    margin: 0;
    background-color: linear-gradient(45deg, black 0%, black 50%, red 50%, red 100%); 
    text-align: center;
    
  }
  body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to right,
      red 0%,
      light red 50%,
      black 50%,
      black 100%
    );
  }

  h1 {
    font-family: 'Lato', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 50px; /* Change the font size as needed */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    background-color: white;
    background-size:auto;
    font-weight: bold;
    font-style: italic;
  }

  p {
    font-family: 'Lato', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 25px; /* Change the font size as needed */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
    font-style:initial;
  }
