
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, black 0%, black 50%, red 50%, red 100%);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

img {
    max-width: 50%;
    height: auto;
}

h1 {
    font-family: 'Lato', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 50px; /* Change the font size as needed */
}

h2 {
    font-family: 'Quicksand', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 20px; /* Change the font size as needed */
}

h3 {
    font-family: 'Quicksand', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 50px; /* Change the font size as needed */
}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .navbar-header {
    float: left;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-right {
    float: right;
}

.navbar-brand img {
    height: 500px; /* Adjust the height of the logo as needed */
    width: 1000px;
    margin-top: 5px; /* Adjust the margin-top of the logo as needed */
}