/* General */
body {
  width: 800px;
  margin: 0 auto;
}

.item img {
  width: 200px;
  height: 200px;
}

/* Typography */
h1, h2 {
  text-align: center;
}

/* Block styling */
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  background-image: url(../../images/phone_globe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* To cover the entire element */
  color: black;
}

/* Styling the products display */
body > div {
  border: 5px solid black; /* Added a semicolon here */
  display: flex;
}

.rotate img
{
animation: rotation .3s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}