/*products_display.css*/
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  margin-bottom: 50px;
  border-radius: 0;
}


.audio-container {
  text-align: center;
  margin-top: 10px; /* Adjust the margin as needed */
  
}

.song-info {
  color: white; /* Set the text color for the song information */
  margin-top: 10px; /* Adjust the margin as needed */
}

#artist,
#title {
  margin: 0;
}

#helloMsg {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  top: 90%; /* Adjust the percentage to move it down or up */
  line-height: 1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;

	--bkg: #5eb3fd;
	--white: #e7e6e6;

	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}

.container2 {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
	overflow: hidden;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title h5 {
	font-size: 25vmin;
	font-weight: 900;
	font-family: "Montserrat", sans-serif;
	color: black;
}


.ghost {
	width: 8vmin;
	height: 12vmin;
	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
	background-image: radial-gradient(ellipse at 35% 40%, #000 8%, transparent 0%),
		radial-gradient(ellipse at 65% 40%, #000 8%, transparent 0%),
		radial-gradient(ellipse at 50% 60%, #000 8%, transparent 0%);
	border-radius: 100% / 70% 70% 0% 0%;
	transform: translateX(100em) rotateZ(-90deg);
	position: relative;
	opacity: 0.9;
	mix-blend-mode: exclusion;
	animation: ghostMove 4s ease-out infinite;
}
@keyframes ghostMove {
	0% {
		transform: translateX(30em) rotateZ(-90deg);
	}
	100% {
		transform: translateX(-35em) rotateZ(-90deg);
	}
}
.ghost div {
	position: absolute;
	width: 20%;
	background-color: var(--white);
	background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
.ghost div:nth-of-type(1) {
	height: 7vmin;
	left: 0;
	bottom: -6vmin;
	border-radius: 100% / 0% 0% 50% 50%;
}
.ghost div:nth-of-type(2),
.ghost div:nth-of-type(4) {
	height: 4vmin;
	left: 20%;
	bottom: -3vmin;
	border-radius: 100% / 50% 50% 0% 0%;
	background-color: transparent;
}
.ghost div:nth-of-type(3) {
	height: 4vmin;
	left: 40%;
	bottom: -3.95vmin;
	border-radius: 100% / 0% 0% 60% 60%;
	background-color: var(--white);
}
.ghost div:nth-of-type(4) {
	left: 60%;
}
.ghost div:nth-of-type(5) {
	height: 3vmin;
	left: 80%;
	bottom: -2.9vmin;
	border-radius: 100% / 0% 0% 70% 70%;
	background-color: var(--white);
}



/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.qty_form {
  text-align: center;
}

  /* Remove the jumbotron's default bottom margin */ 

  .jumbotron {
    position: relative;
    background-image: url('./images/michael.jpg'); /* Replace 'path/to/your/background.jpg' with the actual path to your background image */
    background-size: cover; /* Adjust the background size as needed */
    background-repeat: no-repeat;
    color: white; /* Set the text color to contrast with the background */
    padding: 100px; /* Add padding to the jumbotron if necessary */
}

  /*Top Title */
  h1 {
    font-family: 'Lato', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 50px; /* Change the font size as needed */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: yellow;
    background-color: red;
    background-size:auto;
    font-weight: bold;
    font-style: italic;
  }
  #top_title {
    color: black;
  }

  a {
    color: darkblue;
    display: inline-block;
    padding: 5px 10px;
    background-color: skyblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 30px;
  }
  /*text box quantity*/
  .main input[type="text"]{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: black
  }

  
  .footer {
    text-align: center;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    background-color: azure;
    padding: 20px 0;
  }
  /*------------------Purchase Button-------------------------------*/
  input[type="submit"]{
    font-size: 30px; 
    display: inline-block;
    padding: 5px 10px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Show a pointer cursor on hover */
    position: relative;
    top: 100%;
    left: 3%;
    transform: translateX(-50%);
  }
  /*background image*/

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: white;
    padding: 25px;
  }


  /*bottom title*/
  h3 {
    font-family: 'Lato', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 70px; /* Change the font size as needed */
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    color: black;
    font-weight: bold;
    font-style: oblique;
  }

.img-thumbnail {
  width: 100%;
  border: 40px solid black;
}

.col-md-6.product_card {
  margin-bottom: 40px;
  padding: 15px
}

.product_name {
  float: center;
  width: 100%; /* Make each product container take the full width of its parent */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-left: 70px;
}

.product_price {
  float: center;
  width: 100%; /* Make each product container take the full width of its parent */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-left: 100px;
}

.img-thumbnail{
  width: 100%;
}
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
    gap: 10px; /* Adjust the gap between grid items as needed */
    padding: 0;
    margin: 0;
    background-color: linear-gradient(45deg, black 0%, black 50%, red 50%, red 100%); 
    text-align: center;
    
  }
  


  p {
    font-family: 'Lato', sans-serif; /* Change "Your Desired Font" to the font you want to use */
    font-size: 20px; /* Change the font size as needed */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
    font-style:initial;
    top: 50px;
    bottom: 50%;
  }

  /* Navbar background color */
.navbar {
  background-color: black; /* Change the background color as needed */
}

/* Navbar text color */
.navbar-nav > li > a,
.navbar-brand {
  color: white !important; /* Change the text color as needed */
}

/* Active link color */
.navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
  background-color: transparent !important;
  color: white !important;
}

/* Remove box around the words */
.navbar-nav > li > a,
.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover,
.navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  background-color: transparent !important;
  border: none !important;
}


.errorBox {
  width: 100%; 
  height: 40px; 
  margin-top: 5px;
  color: #ff2e2e;
  padding-top: 3px;
  line-height: 95%;
} 

.name-text {
  color: black; /* Set the font color to black */
}

.product_name {
  width: 100%; /* Make each product container take the full width of its parent */
}

/* Style for the product container */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Style for each product column */
.col-md-6 {
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px; /* Adjust the margin as needed */
  box-sizing: border-box;
}

/* Style for the product image */
.name-img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.name-img::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; /* Position the tooltip above the image */
  left: 50%; /* Center the tooltip horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect */
}

.name-img:hover::after {
  opacity: 1; /* Make the tooltip visible on hover */
}
/* Style for the product name and details */
.name {
  text-align: center;
}
